.marginToHeader {
    margin-top: 100px;
}
#developersContainer {
    height: fit-content;
    width: fit-content;
    margin: 0px !important;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
#developersContainer {
    article {
        height: fit-content;
        width: fit-content;
        margin: 0px;
        padding: 30px;

        cursor: pointer;
        h2 {
            font-size: 1rem;
            margin-bottom: 0px
        }
        h3 {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 600;
            color: grey
        };
        &:hover {
            transform: scale(1.2, 1.2);
        }
    };
    a {
        text-decoration: none;
    };
    &:hover article:not(:hover){
        transform: scale(0.9, 0.9);
        -webkit-transform: scale(0.9, 0.9);

        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

        filter: opacity(40%);
    }
}

#personWorkInformations {
    padding: 30px;
    h3{
        font-weight: 600;
        color: var(--primary);
    }
    .header-gray-light {
        font-size: 1rem;
        color: var(--secondary);
        font-weight: 600;
    }
    details {
        summary {
            width: fit-content;
            h4 {
                display: inline-block;
                width: fit-content;
            }
            
        }
        &[open] h4 {
            color: var(--primary-hover);
        }
    }
    
    ul {
        color: var(--secondary);

        ::marker {
            color: rgb(82, 82, 82);
        }
    }
    
} 