@keyframes fromTopToPage {
    0%{
        margin-top: -5rem;
    }
    100% {
        margin-top: 8rem;
    }
}
#mainCenteredHeader {
    animation: fromTopToPage;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    margin-top: 8rem ;
}
p {
    padding: 2rem;
    img {
        display: block;
        height: 20rem;
        margin: 20px;
        border-radius: 10px;
        box-shadow: -5px 4px 10px -5px rgba(104, 104, 104, 0.637);
        -webkit-box-shadow: -5px 4px 10px -5px rgba(94, 94, 94, 0.63);
        -moz-box-shadow: -5px 4px 10px -5px rgba(99, 99, 99, 0.671);
        object-fit:cover;
    }
    
    &::first-letter {
        display: inline-block;
        font-size: 2rem;
    }
}
a img.float-right {
    float: right;
    margin: 20px 0px 20px 20px;
}
a img.float-left {
    float: left;
    margin: 20px 20px 20px 0px;
}