// Niklas IMPORTS
@import url("./tableConfig/tableFile.css");
@import url("./animations/mainAnimation.css");
@import url("./start/start.css");
@import url("./about/about.css");

body {
    top:0 !important;
}
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #5c5c5c79;
    border: 0px none #ffffff;
    border-radius: 36px;
}
::-webkit-scrollbar-thumb:hover {
    background: #7070708c;
}
::-webkit-scrollbar-thumb:active {
    background: #3f3f3f88;
}
::-webkit-scrollbar-track {
    background: #3030308c;
    border: 0px none #ffffff;
    border-radius: 86px;
}
::-webkit-scrollbar-track:hover {
    background: #383838ad;
}
::-webkit-scrollbar-track:active {
    background: #33333386;
}
::-webkit-scrollbar-corner {
    background: transparent;
}